#Form{
    /* border:1px solid black;
    border-radius: 10px; */
    margin:10% auto;
}

.Form-Text{
    font-family:arial;
    font-size:1em;
    color:black;
}

.Form-Text-Title{
    font-size:1.5em;
    text-transform:uppercase;
}

.Clean-Margin-Top{
    margin-top:5%;
}

.Input-Size{
    width:6em;
}

form>fieldset:last-of-type{
    text-align: center;
}

form>fieldset:last-of-type input{
    display:inline;
}

form>footer{
    position:relative;
}

form>footer>span:last-of-type{
    position: absolute;
    right:0;
}